@import "styles/mixins/product.scss";
@import "styles/mixins/mixins.scss";

.tab {
  @include maxWidth(567);
  margin-left: 120px;
  @media (max-width: 1200px){
    margin-left: 0;
  }
  > h1 {
    @include productTitle;

  }

  > p {
    @include productSubtitle;
  }

  > h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 48px;

    @media (max-width: $breakpoint992) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  > div {
    @include flex-between(center);
    margin-bottom: 50px;
    > div {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;

      @media (max-width: $breakpoint992) {
        font-size: 10px;
        line-height: 15px;
      }

      > a {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--brand);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > span {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;

      @media (max-width: $breakpoint992) {
        font-size: 12px;
      }
    }
  }
}

.colors {
  @include flex-start(center);
  margin-bottom: 16px !important;
  gap: 12px;
  width: 100%;
}

.color {
  @include flex-center(center);
  border-radius: 100vmax;
  background-color: var(--white);
  padding: 2px !important;
  cursor: pointer;

  > span  {
    @include rectangle(24);
    min-width: 24px;
    min-height: 24px;
    border-radius: 100vmax;
  }
}
