@import "styles/mixins/product.scss";
@import "styles/mixins/mixins.scss";

.tab {
  @include maxWidth(567);
  margin-left: 120px;
  > h1 {
    @include productTitle;
  }

  > p {
    @include productSubtitle;
  }

  > ol {
    margin-left: -40px;
    > li {
      list-style: circle;
    }
  }

  > div {
    @include flex-between(center);
    margin-top: 38px;
    margin-bottom: 82px;
    > div {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;

      > a {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--brand);


        &:hover {
          text-decoration: underline;
        }
      }
    }

    > span {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

