@import "styles/mixins/mixins";

.select {
  position: relative;
  z-index: 1234;

  > button {
    @include flex(center, center);
    border: 2px solid var(--gray);
    border-radius: 2px;
    padding: 11px 8px;
    min-width: 176px;
    background-color: var(--white);
    color: var(--gray);
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;

    > span {
      color: var(--black);
      margin-left: 4px;
    }
  }
}

.options {
  position: absolute;
  animation: fade-down 200ms ease;
  top: 40px;
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
}



.item {
  cursor: pointer;
  padding: 8px 12px;
  min-width: 176px;
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  font-size: 13px;
  line-height: 210%;
  > span {
    display: none;
  }

  &:hover {
    background-color: var(--light-blue);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 40px;
  }
}