@import "styles/mixins/mixins";

.select {
  position: relative;
  z-index: 1234;

  > button {
    @include flex(center, center);
    border: 2px solid var(--gray);
    border-radius: 2px;
    padding: 11px 8px;
    min-width: 176px;
    background-color: var(--white);
    color: var(--gray);
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;

    @media (max-width: $breakpoint768) {
      font-size: 11px;
      padding: 8px 0;
    }

    > span {
      color: var(--black);
      margin-left: 4px;
    }
  }
}

.options {
  @include dropEffect(200);
}

.item {
  @include selectItemStyle;
}
