@import "styles/mixins/mixins";

.card {
  position: relative;
  @include maxWidth(234);
  min-width: 200px;
  margin-bottom: 16px;
  min-height: 400px;
  margin-inline: auto;

  @include mobile480 {
    @include maxWidth(280);
  }

  &:hover {
    > div:last-child {
      visibility: visible;
    }
  }
}

.inStock {
  color: var(--green);
  font-weight: 400;
  font-size: 10px;
  line-height: 210%;
  padding: 8px;
}

.notStock {
  color: var(--red);
  font-weight: 400;
  font-size: 10px;
  line-height: 210%;
  padding: 8px;
}

.img {
  @include flex(center, center);
  margin-bottom: 30px;
}

.icon {
  @include flex(center, center);
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 4px;

  > svg {
    cursor: pointer;
  }
}

.favorite {
  > svg {
    > path {
      fill: var(--red);
      stroke: transparent;
    }
  }
}


.body {
  padding: 8px;
  > h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 2px;
    @include line-clamp(3, vertical);

    @media (max-width: $breakpoint568) {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
    }
  }

  > h4 + div {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: var(--gray);

    @media (max-width: $breakpoint568) {
      font-size: 12px;
    }
  }

  > div:last-child {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }
}

.rating {
  @include flex-start(center);
  gap: 4px;
  margin-bottom: 6px;
  > span {
    font-weight: 400;
    font-size: 12px;
    color: var(--gray);
  }
}

.star {
  @include flex-start(center);
}

.hover {
  @include flex(flex-end, center);
  z-index: 1234;
  visibility: hidden;
}

.cartButton {
  position: absolute;
  bottom: -5px;
}

.addToCart {
  @include outlineBtn;
  @include flex(center, center);
  gap: 4px;
  > svg path {
    fill: var(--brand);
  }

  &:active {
    transform: scale(0.98);
  }
}

.inCart {
  @include outlineBtn;
  @include flex(center, center);
  margin-top: 24px !important;
  color: var(--green);
  border: 2px solid var(--green);
  gap: 4px;
  > svg path {
    fill: var(--green);
  }

  &:active {
    transform: scale(0.98);
  }
}