@import "styles/mixins/mixins.scss";


// ----------------- page header -------------------
.header {
  @include container;
  @include flex-between(baseline);
  gap: 24px;

}

.headerLeft {
  @include flex-start(center);
  gap: 24px;
  margin-bottom: 20px;
  @media (max-width: $breakpoint992) {
    flex-direction: column;
    gap: 0;
  }
  > h1 {
    @include commonTitle;
    margin-bottom: 0;
  }

  > button {
    @include maxWidth(210);
    @include outlineBtn;
    margin-right: auto;
  }
}

.checkoutSteps {
  @include flex-between(center);
  @include maxWidth(388);
  @media (max-width: $breakpoint992) {
    @include maxWidth(350);
  }
  @media (max-width: $breakpoint768) {
    display: none !important;
  }
  > div {
    @include flex-column(center, center);
    gap: 12px;
    @include maxWidth(194);
    position: relative;

    &:before {
      position: absolute;
      top: 20px;
      content: '';
      @include maxWidth(194);
      height: 2px;
      background-color: var(--brand);
    }

    > span {
      @include flex-center(center);
      @include rectangle(40);
      border-radius: 50%;
      background-color: var(--white);
      border: 3px solid var(--brand);
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      z-index: 123;
    }

    > h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--black);
    }
  }

  > div:last-child {
    &:before {
      position: absolute;
      top: 20px;
      content: '';
      @include maxWidth(194);
      height: 2px;
      background-color: var(--gray);
    }
    > span {
      @include flex-center(center);
      @include rectangle(40);
      border-radius: 50%;
      background-color: var(--white);
      border: 3px solid var(--gray);
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      z-index: 123;
    }

    > h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--gray);
    }
  }
}

// ---------------- content -----------------
.contentTitle {
  > h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--gray);
  }
}

.content {
  @include container;
  @include flex-between(flex-start);
  gap: 30px;
  padding-bottom: 87px;
  @media (max-width: $breakpoint768) {
    flex-direction: column;
  }
}

.formField {
  width: 100%;

  > button {
    @include primaryButton;
    min-width: 200px;
  }
}
.form {
  @include maxWidth(565);
  margin-top: 24px;
  @media (max-width: $breakpoint768) {
    max-width: 100% !important;
  }

  > p {
    font-weight: 400;
    font-size: 13px;
    line-height: 210%;
    color: var(--gray);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--gray);
  }
}

.radioWrapper {
  margin-top: 32px;
  padding-top: 24px;
  border-top: 1px solid var(--gray);
}

.radio {

  > label {
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
  }

  > div {
    @include flex-start(center);
    gap: 8px;
    margin-bottom: 16px;

    > input {
      width: min-content;
    }

    > div {
    @include flex-start(center);
      @include maxWidth(800);
      gap: 16px;
      > h4 {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        @media (max-width: $breakpoint768) {
          font-size: 12px;
        }
      }

      > span {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        @media (max-width: $breakpoint768) {
          font-size: 14px;
        }
      }
    }
  }
}



.summary {
  padding: 18px 32px;
  background-color: var(--light-blue);
  margin-top: 40px;
  min-width: 446px;
  @media (max-width: $breakpoint992) {
    min-width: 350px;
  }
  @media (max-width: $breakpoint768) {
    @include maxWidth(100%);
    min-width: 100%;
  }

  > h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--light-gray);
  }
}
.accordion_header {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
}

.card {
  @include flex-start(center);
  gap: 16px;
  margin-bottom: 24px;
}

.card_img {
  min-width: 62px;
}

.card_body {
  > h6 {
    @include line-clamp-vertical(2);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    margin-bottom: 6px;
  }

  > div {
    @include flex-start(center);
    gap: 12px;
    > h6 {
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: var(--black);
    }

    > div {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: var(--gray);

      > span {
        font-weight: 600;
      }
    }
  }
}