@import "styles/mixins/mixins";

.sections_wrapper {
  @include container;
}
.wrapper {
  @include flex-start(flex-start);
}
.products {
  @include container;
  margin-bottom: 18px;
}

.products_title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-top: 37px;
  margin-bottom: 14px;
}

// =------------- ads section -------------=

.ads {
  @media (max-width: $breakpoint768) {
    @include container;
  }
}

.adsContent {
  @include flex(center, center);
  background-color: var(--light-blue);
  padding-block: 22px;
  gap: 4px;
  margin-bottom: 14px;

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    gap: 12px;
  }

  @media (max-width: $breakpoint480) {
    > svg {
      width: 40px;
    }
  }



  > h3 {
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120.5%;
    color: var(--dark-blue);
    border-left: 2px solid var(--dark-cyan);
    padding-left: 14px;

    @media (max-width: $breakpoint768) {
      border: none;
    }
    @media (max-width: $breakpoint480) {
      font-size: 12px;
    }

    > span {
      font-weight: 700;
    }
  }

  > a {
    text-decoration: underline;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 18px;
    line-height: 120.5%;

    @media (max-width: $breakpoint480) {
      font-weight: 400;
      font-size: 14px;
      line-height: 120.5%;
    }
  }
}

// =---------------------- category section -----------------=

.category {
  @include container;
  @include flex-start(center);
  margin-bottom: 32px;
  gap: 24px;
  @media (max-width: $breakpoint768) {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.tabsList {
  @include container;
  @include flex(center, flex-start);
  flex-wrap: wrap;
  gap: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  color: var(--gray);
  margin-bottom: 24px;
  outline: none;
  @media (max-width: $breakpoint768) {
    font-size: 14px;
  }

  > li {
    cursor: pointer;
    outline: none;
  }
}

// =------------------ brand section ---------------=

.brands {
  @include container;
}

.brandIcon {
  padding-block: 35px;
}

// =------------ blogs section ----------=
.blogsTitle {
  @include container;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-block: 20px;
}

.blogs {
  @include container;
  @include grid(6);
  margin-bottom: 60px;
}


