@import "styles/mixins/mixins";


// ------------- main section ---------------
.mainInfo {
  margin-top: 118px;
}

.mainInfo__header {
  position: sticky;
  top: 118px;
  z-index: 123;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);

  @media (max-width: $breakpoint992) {
    top: 109px;
  }
  > div {
    @include container;
    @include flex-between(center);

  }
}

.header_tabs {
  padding-block: 24px;
  @include flex-start(center);
  gap: 24px;
  @media (max-width: $breakpoint480) {
    gap: 12px;
  }
  > h4 {
    @include tab;
    cursor: pointer;

    &:hover {
      color: var(--black);
    }

    &:active {
      @include activeTab;
    }


  }
}

.payment {
  @include flex-end(center);
  gap: 12px;
  > div:first-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    > span {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
  }

  > button {
    @include primaryButton;
  }

  > button:last-child {
    background-color: var(--orange);
    @include flex-center(center);
    padding-block: 14px;
  }
}

.counter {
  @include flex-between(center);
  gap: 10px;
  padding: 9px 12px;
  border-radius: 6px;
  background-color: var(--light-blue);
  min-width: 70px;
  > span {
    margin-left: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
  }

  > div {
    > button {
      @include flex-center(center);
    }
  }
}

.mainInfo__content {
  overflow-x: hidden;
  background-color: var(--light-blue);
  > div {
    @include flex-around(flex-start);
    gap: 24px;
    @include container;

    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
      background-color: var(--white);
    }
  }


}

.mainInfo__content_left {
  padding-top: 74px;
  flex-basis: 60%;
  @media (max-width: $breakpoint992) {
    padding-top: 24px;
  }

  > div:first-child {
    padding-left: 120px;

    @media (max-width: 1200px) {
      padding-left: 0;
    }
  }

  > h6 {
    @include container;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
  }
}

.mainInfo__content_right {
  position: relative;
  background-color: var(--white);
  width: 100%;
  flex-basis: 40%;
  padding: 36px 24px 100px;


  @media (max-width: $breakpoint480) {
    padding-bottom: 50px;
  }

  @media (min-width: $breakpoint768) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      background-color: var(--white);
      width: 1000%;
      height: 100%;
    }
  }
}

.img {
  position: relative;
  @include maxWidth(470);
  min-width: 300px;
  padding-left: 100px;

  @media (max-width: $breakpoint768) {
    margin-inline: auto;
  }
  @media (max-width: $breakpoint480) {
    padding-left: 50px;
    @include maxWidth(114px);
  }

  > div:last-child {
    @include flex-center(flex-start);
    gap: 12px;
    margin-top: 32px;
    @media (max-width: $breakpoint768) {
      align-items: center;
    }

    > h5 {
      @include maxWidth(160);
      font-weight: 300;
      font-size: 12px;
      line-height: 120.5%;

      @media (max-width: $breakpoint992) {
        font-size: 10px;
      }
    }
  }
}

.availability {
  position: absolute;
  top: 0;
  left: 0;
  @include flex-column(flex-start, flex-start);
  gap: 6px;
}

// ------------- competition section ---------------

.competition {
  background-color: var(--black);
  background-image: url('../../../public/images/core7@2x.png');
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;

  > div {
    background: linear-gradient(90deg, #010101 0%, #0E0F10 18.23%, rgba(20, 21, 23, 0) 100%);
    @include container;
    > h2 {
      padding-top: 165px;
      @include maxWidth(460);
      font-weight: 500;
      font-size: 44px;
      line-height: 58px;
      margin-bottom: 48px;
      color: var(--white);
    }

    > p {
      @include maxWidth(436);
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: var(--white);
      padding-bottom: 165px;
    }
  }
}

// helper section
.helper {

  > div {
    @include container;
    padding-block: 100px;
    padding-left: 200px;
    background-image: url('../../../public/images/helper.png');
    background-position: right, center;
    background-size: 670px;
    background-repeat: no-repeat;

    > a {
      @include flex-between(center);
      background-color: var(--white);
      border: 1px solid var(--gray);
      border-radius: 6px;
      padding: 12px 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      @include maxWidth(347);
      margin-bottom: 20px;
    }
  }
}

// ------------------- feature section -------------------

.feature {
  background: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
  padding-top: 80px;
  padding-bottom: 100px;

  > div {
    @include container;
    > div:first-child {
      text-align: center;
      margin-bottom: 60px;
      > h2 {
        font-weight: 500;
        font-size: 38px;
        line-height: 57px;
        color: var(--white);
      }

      > p {
        @include maxWidth(420);
        margin-inline: auto;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: var(--white);
      }
    }

    > div:last-child {
      @include flex(flex-start, center);
      gap: 48px;
      > div {
        @include maxWidth(254);
        text-align: center;


        > p {
          margin-top: 28px;
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          color: var(--white);

          > span {
            font-weight: 700;
          }
        }
      }
    }
  }
}

