@import "styles/mixins/mixins.scss";

.title {
  @include commonTitle;
  @include container;
}

.field {
  @include container;
  @include flex-center(center);
  gap: 34px;
  padding-bottom: 60px;

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    padding-bottom: 48px;
  }


  > div {
    @include maxWidth(564);
    background-color: var(--light-blue);
    min-height: 420px;
    padding: 40px 60px;
    @media (max-width: $breakpoint992) {
      padding: 22px 24px;
    }

    @media (max-width: $breakpoint768) {
      min-height: auto;
    }
    > h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 12px;
    }

    > p {
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 12px;
    }



  }
}

.form {
  > div:last-child {
    @include flex-center(flex-start);
    gap: 24px;
    margin-top: 30px;
    > button {
      @include primaryButton;
      min-width: max-content;
    }
    > a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--brand);
      
      @media (max-width: $breakpoint992) {
        font-size: 12px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 11px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sign {
  padding: 40px 60px;
  background-color: var(--light-blue);

  > button {
    @include primaryButton;
    margin-top: 36px;
  }
}

.create {
  background-color: var(--light-blue);


  >ul {

    > li {
      margin-bottom: 4px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
    }
  }

  > button {
    @include primaryButton;
    margin-top: 36px;
  }
}