@import "styles/mixins/mixins.scss";


.title {
  @include container;
  @include commonTitle;
  margin-bottom: 20px;
}

.notAuth {
  @include flex-center(center);
  flex-direction: column;
  gap: 24px;
  min-height: 300px;

  > a {
    color: var(--brand);

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  @include container;
  @include flex-between(flex-start);
  gap: 32px;
  padding-bottom: 70px;

  @media (max-width: $breakpoint992) {
    gap: 16px;
  }

  @media (max-width: $breakpoint768) {
    flex-direction: column-reverse;
  }
}




// ---------------- table --------------
.table {
  @include maxWidth(916);
  > table {
    width: 100%;
    > thead {
      > tr {
        border-bottom: 1px solid var(--gray);
        padding-block: 12px;
      }
    }
  }
}

.tableHead {
  @include flex-between(center);
  > h5 {
    padding-right: 50px;
  }
  > h5:first-child {
    margin-right: auto;
  }

  @media (max-width: 1200px) {
    display: none !important;
  }
}



.thead {
    border-bottom: 2px solid var(--gray);
}

.imgCell {
  min-width: 88px;
}



.actionTable {
  margin-top: 24px;
  @include flex-start(center);
  gap: 8px;
  @media (max-width: $breakpoint992) {
    flex-direction: column;

    > button {
      width: 100%;
    }
  }
  > button {
    @include blackBtn;
  }
  > a {
    @include grayBtn;
    padding-block: 10px;
  }

  > button:last-child {
    margin-left: auto;
  }
}

// ---------------- summary ---------
.summary {
  @include maxWidth(446);
  padding: 18px 32px;
  background-color: var(--light-blue);
  @media (max-width: $breakpoint992) {
    @include maxWidth(320);
    padding-inline: 24px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 100% !important;
  }
  > h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }
  }

}

.accordion {
  margin-bottom: 20px;
}

.apply__discount {

  > button {
    @include outlineBtn;
    background-color: transparent;
    width: 100%;
  }
}

.accordion_header {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--black);
  margin-bottom: 12px;
}

.actionBtns {

  >a {
    @include primaryButton;
    margin-bottom: 12px;
  }
  > button {
    @include flex-center(center);
    width: 100%;
    margin-bottom: 12px;
  }

  > :nth-child(2) {
    @include primaryButton;
    background-color: var(--orange);
  }

  > :last-child {
    @include grayBtn;
  }
}

.ads {
  @include flex(center, center);
  background-color: var(--light-blue);
  padding-block: 22px;
  margin-bottom: 14px;

  > svg {
    width: 60px !important;
  }

  > h3 {
    margin-left: 10px;
    color: var(--dark-blue);
    border-left: 2px solid var(--dark-cyan);
    padding-left: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 120.5%;

    > span {
      font-weight: 700;
    }
  }

  > a {
    text-decoration: underline;
    color: var(--dark-blue);
    font-size: 10px;
    margin-left: 2px;
  }
}

.estimate {
  > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray) !important;
  }
}

.radioWrapper {
  margin-top: 32px;
  padding-top: 24px;
  border-top: 1px solid var(--gray);
}

.radio {

  > label {
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    color: var(--black);
  }

  > div {
    @include flex-start(flex-start);
    gap: 8px;
    margin-bottom: 16px;

    > input {
      width: min-content;
    }

    > div {
      @include flex-start(flex-start);
      @include maxWidth(800);
      gap: 16px;
      > h4 {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--black);
        @media (max-width: $breakpoint768) {
          font-size: 12px;
        }
      }
    }
  }
}


.applyInfo {
  > h6 {
    @include flex-between(center);
    font-weight: 600 !important;
    font-size: 13px !important;
    color: var(--black) !important;
    margin-bottom: 12px;

    > span {
      color: var(--black) !important;
    }
    > h5 {
      margin-left: 4px;
      background-color: var(--green);
      color: var(--white);
      font-weight: 500;
      padding: 4px;
      border-radius: 100vmax;
      margin-right: auto;
    }
  }



  > p {
    @include maxWidth(300);
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 180% !important;
    color: var(--gray) !important;
  }
}