@import "styles/mixins/mixins";

.Root {
  @include searchFiled;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 31px;

  > input {
    padding-block: 12px;
  }

  @media (max-width: $breakpoint992) {
    background-color: var(--white);

    > input {
      padding: 4px 16px 4px 32px;
      background-color: var(--white);
    }
  }

}

.Icon {
  position: absolute;
  top: 22px;
  right: 25px;

  @media (max-width: $breakpoint992) {
    top: 15px;
    left: 20px;
    right: auto;

    > svg path {
      fill: var(--light-gray);
    }
  }
}