@import "styles/mixins/mixins";



.search {
  @include searchFiled;
  @include maxWidth(800);
  margin-inline: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--light-blue);
  border-radius: 31px;
  animation: fade-down 300ms;
  > input {
    padding-block: 12px;
    padding-left: 38px;
  }

  @media (max-width: $breakpoint992) {
    background-color: var(--white);

    > input {
      padding: 4px 16px 4px 32px;
      background-color: var(--white);
    }
  }

}

@keyframes fade-down {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.Icon {
  position: absolute;
  top: 23px;
  left: 25px;

  @media (max-width: $breakpoint992) {
    top: 15px;
    left: 20px;
    right: auto;

    > svg path {
      fill: var(--light-gray);
      stroke: var(--light-gray);
    }
  }
}

.XIcon {
  @include flex-center(center);
  padding: 4px;
  border-radius: 100vmax;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);

  &:hover {
    background-color: var(--light-gray);
  }
}