.field {
  margin-bottom: 12px;
   label {
    > span {
      color: var(--red);
      margin-left: 4px;
    }
  }

  > textarea {
    display: block;
    width: 100%;
  }

  > input, textarea {
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--black);
    background-color: var(--white);
    outline: none;
    margin-right: auto;

    &:focus {
      border: 1px solid var(--green);
    }

    @media (max-width: 567.98px) {
      font-size: 12px;
    }

    &::placeholder {
      color: var(--gray);
    }
  }
}

.label {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 210%;
    margin-bottom: 4px;
    color: var(--black);

    @media (max-width: 567.98px) {
      font-size: 11px;
    }

  > span {
    color: var(--red) !important;
  }
}
