@import "styles/mixins/mixins";

@mixin titleSide {
  padding-top: 0 !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@mixin filterBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--gray);
  padding-block: 8px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--gray);
  border-radius: 50px;
  background-color: transparent;
}

.sidebar {
  @include maxWidth(235);
  min-width: 234px;
  :not(:last-child) {
    padding: 16px;
  }

  > button {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-block: 12px;
    width: 100%;
    background-color: var(--white);
    transition: all 300ms;

    &:hover {
      background-color: var(--light-blue);
    }

    &:active {
      background-color: var(--light-blue-darker);
    }
  }

  @media (max-width: $breakpoint768) {
    display: none;
  }
}

.filterTop {
  background-color: var(--light-blue);
  > h3 {
    @include titleSide;
  }

  > button {
    @include filterBtn;
  }
}

.filterCenter {
  background-color: var(--light-blue);
}

.filterBottom {
  background-color: var(--light-blue);
  margin-bottom: 8px;
  > button {
    @include primaryButton;
  }
}

.brandsFilter {
  padding: 0 !important;
  margin-bottom: 8px;
  background-color: var(--light-blue);
  box-sizing: border-box;
  > div {
    > h3 {
      @include titleSide;
    }

    > button {
      @include filterBtn;
    }
  }

  > :last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    > svg {
      padding: 14px;
      background-color: var(--white);
      width: 100%;
      height: 46px;
    }
  }
}

.brandIcon {
  transition: background-color var(--transitionDuraction);
  @include maxWidth(153);
  object-fit: contain;
  background-color: var(--white);
  &:hover {
    background-color: var(--light-blue);
  }

  &:active {
    transform: scale(0.96);
  }

}

.compare, .wishList {
  margin-bottom: 8px;
  text-align: center;
  background-color: var(--light-blue);
  > h3 {
    @include titleSide;
    padding-top: 0 !important;
  }

  > p {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }
}