@import "styles/mixins/mixins";

.breadcrumbs {
  @include container;
  @include flex-start(center);
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  > div {
    > a {
      &:hover {
        color: var(--brand) !important;
      }
    }

    > span {
      color: var(--brand);
      margin-left: 4px;
    }
  }
}