@import "styles/mixins/mixins";

.Root {
  background-color: var(--dark);
  padding-block: 8px;

  @media (max-width: $breakpoint992) {
    padding-block: 12px;
  }
}

.Content {
  @include flex(center, space-between);
  @include container;
}

.Center {
  @include flex-center(center);
  gap: 4px;

  > h6 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--gray);
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  > a {
    color: var(--white);
    @media (max-width: $breakpoint992) {
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.Right {
  @include flex(center, space-between);
  gap: 16px;
  @media (max-width: $breakpoint992) {
    display: none;
  }

  > h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--white);
  }
}