@import "styles/mixins/mixins";

.Root {
  background-color: var(--dark);
  padding-block: 8px;
}

.Content {
  @include flex(center, space-between);
  @include container;
}

.Center {
  color: var(--gray);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  > a {
    color: var(--white);

    &:hover {
      text-decoration: underline;
    }
  }
}

.Right {
  @include flex(center, space-between);
  gap: 16px;

  > h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: var(--white);
  }
}