@import "styles/mixins/mixins.scss";

.about {
  background-color: var(--black);

  > div {
    @include flex-center(center);
    @include container;
    gap: 100px;
    padding-block: 96px;

    @media (max-width: $breakpoint992) {
      gap: 16px;
    }
    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
      padding-block: 20px;
    }

    > div:first-child {
      > h2 {
        @include maxWidth(465);
        font-weight: 500;
        font-size: 44px;
        line-height: 58px;
        color: var(--white);
        margin-bottom: 32px;
        @media (max-width: $breakpoint992) {
          font-size: 32px;
          margin-bottom: 16px;
        }
      }

      > p {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: var(--white);
        @include maxWidth(436);
        @media (max-width: $breakpoint992) {
          font-size: 14px;
        }
      }
    }
  }
}

.content_white {
  background-color: var(--white);

  > div {
    @include flex-center(center);
    flex-direction: row-reverse;
    @include container;
    gap: 100px;
    padding-block: 96px;
    @media (max-width: $breakpoint992) {
      gap: 16px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
    }

    > div:first-child {
      > h2 {
        @include maxWidth(465);
        font-weight: 500;
        font-size: 44px;
        line-height: 58px;
        margin-bottom: 32px;
        color: var(--black);
      }

      > p {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: var(--black);
        @include maxWidth(436);
      }
    }
  }
}

.imgCell {
 @media (max-height: $breakpoint768) {
   max-height: 300px;
   overflow: hidden;
 }
}