@import "styles/mixins/mixins.scss";

// =--------------- about-us section ---------------=
.aboutUs {
  padding-top: 60px;
  padding-bottom: 44px;
}

.content {
  @include container;
  @include flex-around(center);
  gap: 24px;

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    gap: 48px;
  }
}

.bg {
  background-color: var(--light-blue);
}

.aboutItem {
  @include flex-column(center, center);
  @include maxWidth(265);
  text-align: center;
  > h4 {
    margin-bottom: 14px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 132.5%;

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }
  }

  > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    @media (max-width: $breakpoint992) {
      font-size: 12px;
    }
  }
}

.arrowUp {
  position: fixed;
  bottom: 24px;
  right: 24px;
  @include flex-center(center);
  @include rectangle(40);
  border-radius: 100vmax;
  background-color: var(--brand);
  animation: fade 700ms linear;
  cursor: pointer;

  > svg {
    @include rectangle(24);
    transform: rotate(180deg);
    > path {
      stroke: var(--white);
    }
  }

}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}