@import "styles/mixins/mixins.scss";

.menuItem {
  @include flex-between(center);
  @include selectItemStyle;
  width: 100%;
  border-right: 1px solid var(--light-gray);
  gap: 24px;
}


.arrow {
  > svg {
    @include rectangle(20);
    > path {
      stroke: var(--black);
    }
  }
}

.motion {
  > svg {
    transform: rotateZ(-90deg);
  }
}

.motion_down {
  > svg {
    transform: rotateZ(0);
  }
}

.childMenu {
  @include flex-start(flex-start);
}


.insideMenu {
  // child category menu
  //position: absolute;
  //left: 270px;
  //top: 0;
  @include flex-start(center);
}