@import "styles/mixins/mixins.scss";

.wrapper {
  @include container;
  padding-inline: 0 !important;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: 82px;
  z-index: -1;
  animation: fade-down 300ms;
  box-shadow: var(--card-shadow);
  background-color: var(--white);
}

.top {
  @include flex-start(center);
}

.menu {
  @include flex-start(flex-start);
  flex-direction: column;
  background-color: var(--white);

  > div {
    border-right: 1px solid var(--gray);
    width: 100%;

    > div {
      @include selectItemStyle;
    }

  }
}
.menuItem {
  @include flex-between(center);
  gap: 24px;
}

.arrow {
  > svg {
    @include rectangle(20);
    > path {
      stroke: var(--black);
    }
  }
}

.motion {
  > svg {
    transform: rotateZ(-90deg);
  }
}

.cards {
  @include flex-end(center);
  gap: 16px;

  > div:first-child {
    margin-left: auto !important;
  }
}

.brands {
  @include flex-between(center);
  background-color: var(--white);
  padding-block: 35px;
  padding-inline: 16px;
  border-top: 1px solid var(--light-gray);
}

@keyframes fade-down {
  0% {
    top: -100px;
  }
  100% {
    top: 82px;
  }
}