@import "styles/mixins/mixins.scss";

.tabList {
  @include flex-start(center);
  flex-wrap: wrap;
}

.title {
  margin: 4px;
  padding: 10px;
  background-color: var(--basic2);
  color: var(--green3);
  cursor: pointer;
  text-transform: uppercase;
}

.content {
  height: 100px;
}